.Ratings span label{
    height: 40px;
    width: 40px;
    padding-top: 5px !important;
    font-size: 14px;
}
 
 
.Ratingsanshor> div{
    text-align: center !important;
    display: initial;
    }
 
 
.Ratingsanshor> div > div{
    display: -webkit-inline-box;
    --palette-rating-custom-hover: #c7a979;
    --palette-rating-custom-selected: #c7a979;
    --palette-rating-custom-selected-outline: #c7a979;
    --palette-rating-custom-outline: #dfdfdf;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    transition: color 0.2s ease;
    --palette-core-components: #dfdfdf;
}
 
/* Apply hover effect to the hovered star */
.Ratingsanshor > div > div:hover{
 
    --palette-rating-custom-outline: transparent;
html[lang="ar"] .Ratingsanshor p.ratingMinLabel {
    text-align: right !important;
}
 
html[lang="ar"] .Ratingsanshor p.ratingMaxLabel{
    text-align: left !important;
}
 
 
html[lang="ar"] .Ratingsanshor> div > div{
    direction: rtl;
}

html[lang="ar"] .Ratingsanshor p.ratingMinLabel {
    text-align: right !important;
}

html[lang="ar"] .Ratingsanshor p.ratingMaxLabel{
    text-align: left !important;
}


html[lang="ar"] .Ratingsanshor> div > div{
    direction: rtl;
}

html[lang="ar"] .NPSanchor> div > div{
    direction: rtl;
}

html[lang="ar"] .NPSanchor p.ratingMinLabel {
    text-align: right !important;
}

html[lang="ar"] .NPSanchor p.ratingMaxLabel{
    text-align: left !important;
}

.mediumSurvey .BtTKO73wwEgj3vgLve_A .GwJ4QQCQGg6b2JjeVRgr {
height: 37px;
border-radius: 1px;
width: 32px;
}

.directionRightToLeft .LJ5dDI1qRFssk1ka4roCr ._3_foUkwcSeMY2vBraukrvR:first-child{
margin-left: unset;
margin-left: 10px;
}
