._1SPV2GZjz0ekDKiu5qBJ16{
background-color:#1C2346 !important;
height: 20%;
}



:root{ --typography-headline-size: 15px; /* Label font size */ }


.CSAT1 {
	--palette-rating-number-hover: #1C2346; /* border color (box-shadow property)*/
	--palette-rating-number-selected: #1C2346; /*background-color /*(inner color of the squares/circles)*/ 
	--typography-body-size: 9px; }
	--palette-rating-number-text-hover: #1C2346; /* color of text during hover 
	--palette-rating-number-text-selected: #1C2346; /* color of text when selected
