.neb-website-grading1to10 neb-content neb-wcag {
  background-color: red !important;
}
.surveyBtn.surveyBtn_close { 
  Display:none;
}

.modal-live-form ng-scope{
  background-color: red !important;
}

@font-face {
font-family: Co Headline;
src: url(https://fonts.cdnfonts.com/css/co-headline);
}

:root{

--typography-fontFamily: Co Headline; }

body{
background-color: red !important;
}
