.Ratings span label {
  height: 40px;
  width: 40px;
  padding-top: 5px !important;
  font-size: 14px;
}

.Ratingsanshor > div {
  text-align: center !important;
  display: initial;
}

.Ratingsanshor > div > div {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  transition: color 0.2s ease;
  --palette-rating-custom-hover: #c7a979;
  --palette-rating-custom-selected: #c7a979;
  --palette-rating-custom-selected-outline: #c7a979;
  --palette-rating-custom-outline: #dfdfdf;
  --palette-core-components: #dfdfdf;
}

/* Apply hover effect to the hovered star */
.Ratingsanshor > div > div:hover {
  --palette-rating-custom-outline: transparent;
}

/* Arabic RTL adjustments */
html[lang="ar"] .Ratingsanshor p.ratingMinLabel {
  text-align: right !important;
}

html[lang="ar"] .Ratingsanshor p.ratingMaxLabel {
  text-align: left !important;
}

html[lang="ar"] .Ratingsanshor > div > div {
  direction: rtl;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

/* NPS alignment for Arabic */
html[lang="ar"] .NPSanchor > div > div {
  direction: rtl;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

html[lang="ar"] .NPSanchor p.ratingMinLabel {
  text-align: right !important;
}

html[lang="ar"] .NPSanchor p.ratingMaxLabel {
  text-align: left !important;
}

html[lang="ar"] .Ratingsanshor > div > div,
html[lang="ar"] .NPSanchor > div > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  direction: rtl;
}
html[lang="ar"] [class*="Ratings"] > div > div,
html[lang="ar"] [class*="ratings"] > div > div {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: flex-end !important;
  direction: rtl !important;
}

/* Make sure text labels flip sides */
html[lang="ar"] [class*="Ratings"] p.ratingMinLabel,
html[lang="ar"] [class*="ratings"] p.ratingMinLabel {
  text-align: right !important;
}
html[lang="ar"] [class*="Ratings"] p.ratingMaxLabel,
html[lang="ar"] [class*="ratings"] p.ratingMaxLabel {
  text-align: left !important;
}


