:root {
  
--palette-rating-number-selected: #71bfb7;
--palette-rating-number-hover: #71bfb7;
--palette-action-hover : transparent;
--palette-core-primary: #71bfb7 !important;
--powered-by-display: none !important;
--palette-rating-custom-outline: transparent;
}

.Ratings span label{
    height: 40px;
    width: 40px;
    padding-top: 5px !important;
    font-size: 14px;
}


.Ratingsanshor> div{
    text-align: center !important;
    display: initial;
    }


.Ratingsanshor> div > div{
    display: -webkit-inline-box;
    --palette-rating-custom-hover: #71bfb7;
    --palette-rating-custom-selected: #71bfb7;
    --palette-rating-custom-selected-outline: #71bfb7;
    --palette-rating-custom-outline: transparent;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    transition: color 0.2s ease;
    --palette-core-components: #dfdfdf;
}

/* Apply hover effect to the hovered star */
.Ratingsanshor > div > div:hover{

    --palette-rating-custom-outline: transparent;

}


.aYoFzjD4CNk2jQuzATH_ .UwpCXi2cl0OjJr2wCEop {
min-width: 100%;
max-width: 100%;
}

html[lang="ar"] .Ratingsanshor p.ratingMinLabel {
    text-align: right !important;
}

html[lang="ar"] .Ratingsanshor p.ratingMaxLabel{
    text-align: left !important;
}


html[lang="ar"] .Ratingsanshor> div > div{
    direction: rtl;
}

html[lang="ar"] .NPSanchor> div > div{
    direction: rtl;
}

html[lang="ar"] .NPSanchor p.ratingMinLabel {
    text-align: right !important;
}

html[lang="ar"] .NPSanchor p.ratingMaxLabel{
    text-align: left !important;
}

.mediumSurvey .BtTKO73wwEgj3vgLve_A .GwJ4QQCQGg6b2JjeVRgr {
height: 37px;
border-radius: 1px;
width: 32px;
}

.directionRightToLeft .LJ5dDI1qRFssk1ka4roCr ._3_foUkwcSeMY2vBraukrvR:first-child{
margin-left: unset;
margin-left: 10px;
}


.LJ5dDI1qRFssk1ka4roCr ._2tHW0cyET9DNu6CMvxGOlL{
    width: auto;
}


.CSAT1> div{
    text-align: center !important;
    display: initial;
    }


.CSAT1 > div > div{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.CSAT1 p.ratingMinLabel {
    text-align: center !important;
}

.CSAT1 p.ratingMaxLabel{
    text-align: center !important;
}

.gSNmMh_aXxfPEpDq4u45{
  text-align: center !important;
}
